body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#icon{
  color:#093e4a;
  font-size: 20px;
  font-weight: 600;
}
#navbar{
background-color: transparent;
}
#navbg{
  background-color:#a1ccd2;
}
ul .navbar-nav .nav-item a{
  color:#093e4a;
  font-weight: 400;
}
ul .navbar-nav .nav-item a:hover{
  color:#080909;
  font-weight: 400;
}
.home-content{
  background-color: #f4f1de;
  height: 100vh;
  width: 100vw;
}